* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Hero Section Css Part */
.hero {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}
.hero .container {
    flex-basis: 60%;
    text-align: center;
}
.hero .container .hero_title {
    color: #5f6979;
    font-weight: 400;
    font-family: "goldenbook";
    font-style: normal;
    font-size: 32px;
    line-height: normal;
    letter-spacing: 5px;
    padding-bottom: 40px;
}
.hero .container p {
    font-family: "Goldenbook";
    color: #444e5a;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 0.5px;
    font-weight: 100;
    line-height: 1.45;
    padding-bottom: 20px;
}
/* Hero Section Css Part */


/* Services Options CSS PART 
.services_options{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services_options .container{
    min-width:90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 10px;
}
.services_options .container .option_box{
    padding: 10px 0px 60px;
    flex-basis: 25%;
}
.services_options .container .option_box .service_title{
   font-family: "goldenbook"; 
   font-size: 16px;
   font-weight: 400;
   font-style: normal;
   color: #444e5a;
   letter-spacing: 2px;
    text-align: center;
}
.services_options hr{
    border: 0;
    width: 100%;
    border-top: 2px solid #ddd;
}
Services Options CSS PART */


/* Our Details Section CSS Part 
.details_action{
    padding: 0 0 40px;
    display: flex;
    justify-content: center;
}
.details_action .container{
    padding: 0 00px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}
.details_action .container .call_block{
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 5%;
   
}
.details_action .container .call_block:hover{   transition: all 0.6s;
    background-color: #fcfc6510;
    box-shadow: 1px 1px 10px 1px #eddede;;
}

.details_action .container .call_block .title{
    flex-basis: 50%;
    color: #5f6979;
    font-weight: 400;
    font-family: "goldenbook";
    font-style: normal;
    font-size: 24px;
    line-height: 1.65;
}
.details_action .container .call_block .details_card{
   flex-basis: 50%;
   text-align: center;
   padding: 0 15px;
}
.details_action .container .call_block .details_card p{
    font-size: 20px;
    line-height: 1.50;
    font-weight: 400;
    color: #444e5a;
    font-family: "goldenbook";
    font-weight: normal;
    margin-bottom: 22px;
}
.details_action .container .call_block .details_card .details_btn{
    margin-top: 25px;
    
}
.details_action .container .call_block .details_card .details_btn a{
    width: 50%;
    margin: auto;
    font-family: "goldenbook";
    font-size: 18px;
    line-height: 1.65;
    font-weight: 400;
    color: #5f6979;
    text-decoration: none;
    display: block;
    padding: 12px 0px;
    border: 1px solid #5f6979;
    border-radius: 2px;
    background-color: #fff;
}
.details_action .container .call_block .details_card .details_btn a:hover{
    background-color: #5f6979;
    color: #fff;
    transition: all 0.4s;
}
Our Details Section CSS Part */


/* Responsive Zone */
/* Responsive Zone */
@media(max-width:768px) {
    .services_options .container {
        min-width: 80%;
    }
    .hero .container p {
        font-size: 19px;
    };


    /* .services_options .container .option_box .service_title {
        font-size: 16px;
        letter-spacing: 1.5px;
    } */

    /* .details_action .container .call_block .title {
        flex-basis: 30%;
        font-size: 22px;
    }
    .details_action .container .call_block .details_card {
        flex-basis: 60%;
    }
    .details_action .container .call_block .details_card p {
        font-size: 18px;
    }
    .details_action .container .call_block .details_card .details_btn a {
        width: 70%;
        padding: 10px 0px;
    } */
}


@media(max-width:425px) {
    .hero .container {
        flex-basis: 80%;
    };

    /* .services_options .container .option_box {
        flex-basis: 50%;
        text-align: center;
    }
    .details_action .container .call_block .title {
        padding-bottom: 15px;
    }
    .details_action .container .call_block {
        text-align: center;
        flex-direction: column;
    } */
}
/* Responsive Zone */


@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);

/* Services Tab CSS PART */
.service_tab {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}
.service_tab .container {
    flex-basis: 75%;
}


/* MAKE IT CUTE ----- */
.service_tab .container .tabs {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 500px;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.service_tab .container .tabs .tabby-tab {
    flex: 1;
}

.service_tab .container .tabs .tabby-tab label {
    display: block;
    box-sizing: border-box;
    height: 50px;
    padding: 15px;
    cursor: pointer;
    transition: background 0.5s ease;

    color: #444e5a;
    font-weight: 600;
    font-family: "lato";
    letter-spacing: 0.5px;
    font-style: normal;
    font-size: 12px;
    line-height: 1.65;
    letter-spacing: 3px;
    text-align: center;
}

.service_tab .container .tabs .tabby-tab label:hover {
    /* background: #41e600e0; */
    background: #c7b9da27;
}
.container .tabs .tabby-content {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 70px;
    /* top: 50px; */
    border-radius: 0 0 8px 8px;
    background: #c7b9da27;
    transition: opacity 0.8s ease, transform 0.8s ease;
    /* show/hide */
    opacity: 0;
    /* transform: scale(0.1);
     transform-origin: left top;  */

    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.tabby-content .content_box {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 5px solid rgb(255, 255, 255);
    padding: 0 50px;

}
.tabby-content .content_box h1 {
    color: #5f6979;
    font-weight: 400;
    font-family: "goldenbook";
    font-style: normal;
    font-size: 24px;
    padding-bottom: 25px;
    line-height: 0;
    text-align: center;
}

.tabby-content .content_box p {
    font-size: 20px;
    color: #444e5a;
    font-family: "lato";
    font-weight: 400;
    text-align: center;
    line-height: 24px;
}
.tabby-content .content_box .btn {
    padding-top: 40px;
    text-align: center;

}
.tabby-content .content_box .btn a {
    text-decoration: none;
    width: 50%;
    margin: auto;
    background-color: #ffffff;
    display: block;
    padding: 12px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: "lato";
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 1.65;
    font-weight: 400;
    text-transform: capitalize;
    color: #444e5a;
}
.tabby-content .content_box .btn a:hover {
    color: #fff;
    background-color: #444e5a;
    transition: all 0.4s;
}


.tabby-content .image_box {
    flex-basis: 30%;
}
.tabby-content .image_box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* MAKE IT WORK ----- */

.tabby-tab [type="radio"] {
    display: none;
}
[type="radio"]:checked ~ label {
    /* background: #41e600e0; */
    background: #c7b9da27;
    z-index: 2;
}

[type="radio"]:checked ~ label ~ .tabby-content {
    z-index: 1;

    /* show/hide */
    opacity: 1;
    transform: scale(1);
}


/* max-width:1440px */
@media(max-width:1440px) {
    .service_tab .container .tabs .tabby-tab label {
        height: 65px;
    }
}
/* max-width:1440px */

/* Max-width:1024px */
@media(max-width:1024px) {
    .service_tab .container {
        flex-basis: 90%;
    }
    .service_tab .container .tabs .tabby-tab label {
        height: 65px;
    }
    .tabby-content .content_box {
        flex-basis: 60%;
    }
    .tabby-content .image_box {
        flex-basis: 40%;
    }
}
/* Max-width:1024px */


/* Responsive 768px*/
@media(max-width:768px) {
    .service_tab .container {
        flex-basis: 95%;
        overflow: hidden;
        box-sizing: border-box;
    }
    .service_tab .container .tabs {
        min-height: 500px;
    }
    .service_tab .container .tabs .tabby-tab label {
        font-size: 14px;
        letter-spacing: 0;
        padding: 0;
    }
    .service_tab .container .tabs .tabby-tab {
        /* flex: 1; */
        flex-basis: 25%;
    }
    .tabby-content .image_box {
        flex-basis: 40%;
    }
    .tabby-content .content_box {
        flex-basis: 60%;
        padding: 0 20px;

    }
    .tabby-content .content_box .btn {
        padding-top: 10px;
    }
    .tabby-content .content_box .btn a {
        width: 70%;
    }
}
/* Responsive 768px */


/* max-width:550px */
@media(max-width:500px) {
    .service_tab {
        padding: 10px 0;

    }
    .service_tab .container .tabs {
        min-height: 900px;
        display: block;
    }


    .service_tab .container .tabs .tabby-tab label {
        height: 40px;
        font-size: 16px;
        line-height: normal;
        padding: 10px 0;
        text-align: center;
    }


    .container .tabs .tabby-content {
        top: 180px;
        align-items: stretch;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .tabby-content .image_box {
        max-height: 250px;
    }
    .tabby-content .content_box {
        justify-content: flex-start;
        border-right: 0;

    }
    .tabby-content .content_box h1 {
        font-size: 16px;
        padding-top: 15px;
    }
    .tabby-content .content_box p {
        font-size: 16px;
    }


}
